@import "../../index.scss";

.withHeader {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header{
  align-items: center;
  justify-content: center;
}

.container {
  // min-height: calc(100% - 80px);
  // margin-top: 75px;
  box-sizing: border-box;
  width: 100%;
  
  @include for-size(tablet-landscape-up) {
    padding-bottom: unset;
    margin: 0 auto;
    // margin-top: 75px;
    max-width: 1200px;
  }
}

.bgWhite {
  background: map-get($white, default);

  @include for-size(tablet-landscape-up) {
    background: map-get($white, default);
  }
}
