.checkoutCompContainer{
    max-width: 1200px;
    margin: 0 auto;
    
    .checkoutSteps{
        max-width: 902px;
        width: 100%;
        padding: 0px 50px;
        
        .checkoutStep{
            position: relative;
            margin-left: 25px;
            background: #e9ecee;
            margin-bottom: 20px;
            padding: 35px 40px 39px;
            box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.06);
        }
    }
}