
.CarouselContainer{
    width: auto;
    height: 600px;
    // background: url()
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    margin: 0 auto;
}